<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../public/assets/css/login.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <title>FinAI</title>
  </head>

    <div class="main-login" id="login">
      <div class="left-login">
        <h1>
          Trabalhar com FinAI ficou mais fácil. <br />
          <span>Acesse a sua conta!</span>
        </h1>
        <img
          src="../../public/assets/img/financelogin.svg"
          class="left-img-login"
          alt="imagem desenho finanças"
          class="left-login-img"
        />
      </div>
      <div class="right-login">
        <img
          src="../../public/assets/img/logofinAI.png"
          alt="logo"
          class="logoFinAI"
        />

        <div class="card-login">
          <div class="textfield">
            <label for="usuario">Usuário</label>
            <input type="text" name="usuario" placeholder="Usuário" />
          </div>
          <div class="textfield">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Senha" />
          </div>

          <button class="btn-login">Login</button>
        </div>
      </div>
    </div>
  </body>
</html>
