<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/assets/css/user.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <img src="../../public/assets/img/logomini.png" alt="Home" />
      <h1>FinAI</h1>
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="#">Despesas</a>
      <a href="#">Limite de Gastos</a>
      <a href="#">Extratos</a>
      <a href="#">AI Financeira</a>
      <div class="dropdown">
        <a class="dropbtn">Minha Conta</a>
        <div class="dropdown-content">
          <a href="#"><i class="bi bi-gear"></i></a>
          <a href="#">Sair</a>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <section class="painel-principal">
      <div class="container">
        <div class="usuario">
          <p>Boa Tarde, <span>João Carlos!</span></p>
        </div>
        <div class="painel-principal-boxtwo">
          <div class="receita">
            <p>receita mensal</p>
            <span>R$ 0,00</span>
          </div>
          <div class="despesas">
              <p>despesa mensal</p>
              <span>R$ 0,00</span>
          </div>
          <div class="relatorios">
              <p>ver relatórios</p>
              <span></span>
          </div>
        </div>
      </div>        
    </section>
    <section class="painel-secundario">
      <div>
        <div class="col-one">
          <div>
            <h2>Saldo Geral</h2>
            <span>R$ 0,00</span>
          </div>
          <div>
            <h2>Minhas contas</h2>
            <span>R$ 0,00</span>
          </div>
          <div>
            <h2>Conta Inicial</h2>
            <span>R$ 0,00</span>
          </div>
          <button>Gerenciar Contas</button>
        </div>
        <div>
          <div class="col-tab">
            <h2>FAC - Dúvidas Frequentes</h2>
          </div>
        </div>
      </div>      
      <div class="col-two">
        <div class="col-tab2">
          <h3>Todas as faturas</h3>
        </div>
        <div class="col-tab2">
          <h3>Contas a pagar</h3>
        </div>
        <div class="col-tab2">
          <h3>Meus gastos do mês atual</h3>
        </div>
        <div class="col-tab2">
          <h3>Contas a receber</h3>
        </div>
        <div class="col-tab2">
          <h3>Limite de Gastos de Dezembro</h3>
        </div>
      </div>
    </section>
  </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>