<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/assets/css/estilo.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="../../public/assets/img/logomini.png" alt="Home" />
        <h1>FinAI</h1>
      </div>

      <div class="menu">
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Cadastre-se</a>
        <a id="btn-login" href="#">Login</a>
      </div>
    </nav>

    <header class="hero-container">
      <div class="hero-content">
        <div class="hero-left">
          <h2 style="letter-spacing: 15px">nós cuidamos dos seus</h2>
          <h2 style="font-size: 80px">Investimentos!</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit vero
            tenetur placeat hic nemo ipsam dolor atque facilis magnam laborum
            nisi dolore esse, dolorum molestias ut modi laboriosam qui? Non!
          </p>
          <a href="#" class="btn-contact">Cadastre-se</a>
        </div>
        <div class="hero-right">
          <img
            src="../../public/assets/img/financelogin.svg"
            class="img-hero-right"
            alt="imagem desenho finanças"
          />
        </div>
      </div>
    </header>

    <section>
      <h2>
        Tenha o controle dos seus gastos e conheça as melhores aplicações!
      </h2>
      <div class="servicos">
        <div class="card">
          <h3>Melhores Investimentos</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
            accusantium, quidem a, magni eligendi tempora repudiandae obcaecati
            reiciendis ipsum in rerum ex, ullam ipsam repellat nam quod odio
            inventore harum!
          </p>
        </div>
        <div class="card">
          <h3>Limite seu saldo</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis
            unde minus incidunt itaque voluptatibus dolores autem voluptates
            ipsa blanditiis iusto accusamus possimus cum, vero culpa modi
            distinctio voluptatum, sunt beatae.
          </p>
        </div>
        <div class="card">
          <h3>Aplique nas melhores moedas</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            quibusdam amet sint? Quibusdam assumenda cum earum alias ut dolores
            non tempora, sunt maxime ratione eius vitae rem facere, temporibus
            expedita?
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
